@import './src/styles/variables';

.loader {
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.l {
  width: 60px;
  height: 60px;
  border: 6px solid $accent;
  border-right-color: transparent;
}

.m {
  width: 40px;
  height: 40px;
  border: 4.5px solid $accent;
  border-right-color: transparent;
}

.s {
  border: 3px solid $accent;
  border-right-color: transparent;
  width: 20px;
  height: 20px;
}
