$accent: #f55555;
$opacity: 0.7;

$border: #d9d9d9;
$border-radius: 6px;

$border-main: 1px solid #d9d9d9;

$main-text: #000000;
$text: #7e7e7e;
$text-disabled: #fff;

$background: #ffffff;
$background-disabled: #d9d9d9;

$typerepo-backgrond-color: #daedff;
$typerepo-text: #0066cc;

$link-color: #0080ff;

$font-size-min: 12px;
$font-size-middle: 14px;
$font-size-big: 16px;
$font-size-large: 20px;
$font-size-greatest: 24px;
