@import './src/styles/variables';
@import './src/styles/mixins';

.gitRepoTile {
  box-sizing: border-box;
  background: $background;
  border: $border-main;
  border-radius: $border-radius;
  cursor: pointer;
  width: 357px;
  height: 104px;
  padding: 12px;

  display: flex;
  gap: 12px;

  transition: box-shadow 0.1s ease-in-out;

  &:hover {
    box-shadow: 0px 2px 6px rgba(182, 182, 182, 0.25);
  }

  .avatar {
    width: 80;
    height: 80;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .description {
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 241px;

    gap: 4px;

    .title {
      display: flex;
      font-weight: bold;
      font-size: $font-size-big;
      line-height: 19px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .link {
      color: $text;
      @include text-card-area();
      text-decoration: none;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: flex;
    }

    .info {
      @include text-card-area();
      color: $text;
      display: flex;
      gap: 19px;
    }
    .star {
      vertical-align: baseline;
      &_count {
        vertical-align: top;
      }
    }
  }
  .date {
    margin-left: 1px;
  }
}
